:root {
  --default-size: 1.6rem;
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-secondary: #26a69a;
  --color-secondary-light: rgb(45, 204, 188);
  --color-secondary-dark: rgb(33, 141, 130);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #444;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
} /* 1rem = 10px */

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-grey-dark-2);
}

nav ul a,
nav .brand-logo {
  color: var(--color-grey-dark-2);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: var(--color-secondary);
}

.list-inline {
  display: flex;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 900px) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 900px) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 4rem !important;
}
.u-margin-top-medium {
  margin-top: 6rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-size: var(--default-size);
  font-weight: 700;
  text-transform: uppercase;
}

/* NAVBAR */
.logo {
  width: 4rem;
  height: 4rem;
  margin-top: 1.2rem;
}

.material-icons {
  font-size: 3rem !important;
}

/* SHOWCASE */
.showcase-hero {
  height: 92vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/SALAORO.JPG");

  background-size: cover;
  background-position: top;
  position: relative;
}

.showcase__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.showcase-primary {
  color: var(--color-grey-light-3);
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.showcase-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  line-height: 1.2;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.showcase-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-out;
  padding-top: 3rem;
}

/* HISTORY */
#heading-history {
  background-color: #f7d8dc;
  padding: 15rem 5rem;
}

.container-history {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
}

.container-history:not(:last-child) {
  margin-bottom: var(--gutter-vertical);
}

.history-img {
  width: 100%;
  padding-left: 10rem;
}

/* FOOTER */
.page-footer {
  background-image: linear-gradient(
    to bottom right,
    var(--color-secondary),
    var(--color-secondary-dark)
  );
}

.social-icon:not(:last-child) {
  margin-right: 2rem;
}

.icon-google {
  width: 2.9rem;
  height: 2.9rem;
}
